doctype html
html(lang="en")
  head
    title TABLE
  body
    header
      h1 Flash Cards
    section
      table(style='width:100%')
        tr
          th Firstname
          th Lastname
          th Age
        tr
          td Alejandro
          td Vazquez
          td 34
        tr
          td Jill
          td Smith
          td 32
        tr
          td Taylor
          td Vazquez
          td 22
    footer
      p An app to help you study
